# Hosting FTP / Apache - https://concesiones.clubleon.mx
# Debe estar en el DOCUMENT ROOT del dominio (public_html), junto a index.html.

DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^superAdmin/concesiones/([^/]+)/?$ /superAdmin/concesiones/_/index.html [L]

  RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
  RewriteRule ^(.+?)/?$ /$1/index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType text/css .css
  AddType application/javascript .js
  AddType application/json .json
  AddType image/svg+xml .svg
  AddType font/woff2 .woff2
</IfModule>
